#header .container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo__link{
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  &:hover{
    color: $font-hover;
    text-decoration: none;
  }
}

.logo__title{
  font-size: 1.5em;
  font-weight: 700;
  color: darken($font, 15%);
}

.nav__list{
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__list--item{
  text-transform: uppercase;
  font-weight: 700;
  padding: 2em 1em;
  a{
    text-decoration: none;
    color: $font;
  }
  &:hover{
    a{
      text-decoration: none;
      color: $font-hover;
    }
  }
}