@import "bootstrap/bootstrap";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #fff;
}

@import "variables";

@import "./partials/header";
@import "./partials/service";
@import "./partials/service2";
@import "./partials/relax";
@import "./partials/latest";
@import "./partials/values";
@import "./partials/clients";
@import "./partials/contact";
@import "./partials/partners";

